*{
    margin: 0px;
    padding: 0px;
}
nav{
    border-radius: 5px;
    height: 50px;
    display: flex;
}
.logo{
    margin: 10px;
    padding-left: 15px;
    padding-right: 20px;
}
.circle-container{
    width: 45px;
    height: 45px;
    background-color: #1f1f1f;
    border-radius: 50%;
    justify-content: center;
}
.home,.search {
    width: 50%;
    height: 50%;
}
.search-container{
    width: 250px;
    height: 45px;
    background-color: #1f1f1f;
    border-radius: 25px;
    justify-content: center;
}
.search{
    padding: 8px;
}
.search-txt{
    border: none;
    color: white;
    background-color: #1f1f1f;
    height: 25px;
}
.nav-buttons{
    background-color: black;
    color: white;
    display: flex;
}
.nav-btn{
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding-right: 10px;
    cursor: pointer;
}
h1{
    padding: 0px 10px;
}
.dwnld-btn{
    gap: 2px;
    width: 250px;
    height: 45px;
}
.login-btn{
    border: none;
    border-radius: 25px;
    width: 80px;
    font-weight: bolder;
    cursor: pointer;
}